﻿@model LOC_CountryModel
@{
    ViewData["Title"] = "Country Add/Edit";
}
<h4 class="font-green-sharp">@TempData["CountryInsertMsg"]</h4>
<form method="post" asp-controller="LOC_Country" asp-action="Save">
    @Html.HiddenFor(x=>x.CountryID)
    <div class="mb-3">
        <input type="text" class="form-control"  placeholder="CountryName" asp-for="CountryName">
        <span asp-validation-for="CountryName" class="text-danger"></span>
    </div>
        <div class="mb-3">
        <input type="date" class="form-control" placeholder="Created" asp-for="Created">
        <span asp-validation-for="Created" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <input type="date" class="form-control" placeholder="Modified" asp-for="Modified">
        <span asp-validation-for="Modified" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <input type="text" class="form-control" placeholder="CountryCode" asp-for="CountryCode">
        <span asp-validation-for="CountryCode" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}