﻿@using System.Data;
@model DataTable
<br />
<h3 style="justify-content:center ">City List</h3>
<br>

<table class="table">
    <thead>
        <tr>
            <th scope="col">CityID</th>
            <th scope="col">StateID</th>
            <th scope="col">CountryName</th>
            <th scope="col">StateName</th>
            <th scope="col">StateCode </th>
            <th scope="col">Created </th>
            <th scope="col">Modified </th>
            <th scope="col">CityName </th>
            <th scope="col">CityCode </th>



        </tr>
    </thead>
    <tbody>
        @foreach (DataRow dr in Model.Rows)
        {
            <tr>
                <td>@dr["CityID"]</td>
                <td>@dr["StateID"]</td>
                <td>@dr["CountryName"]</td>
                <td>@dr["StateName"]</td>
                <td>@dr["StateCode"]</td>
                <td>@Convert.ToDateTime(dr["Created"]).ToString("dd-MM-yyyy")</td>
                <td>@Convert.ToDateTime(dr["Modified"]).ToString("dd-MM-yyyy")</td>
                <td>@dr["CityName"]</td>
                <td>@dr["CityCode"]</td>


               
            </tr>
        }
    </tbody>
</table>